<nb-layout>
  <nb-layout-header>
  <h3>Reddit Mini</h3>
  <input class="topic-input" type="text" nbInput fieldSize="large" placeholder="{{topic}}" [(ngModel)]="topic">
  <button nbButton status="danger" (click)="download()">Load</button>
  </nb-layout-header>
  <nb-layout-column (scroll)="scrolling($event)" class="colored-column-info post-container" *ngIf="redditData">
    <ng-container *ngFor="let post of redditData['data']['children']">
      
      <nb-card accent="danger" class="post">
          <nb-card-header class="post-header" (click)="openThread(post)">
            <p>{{post.data.author}} - {{post.data.created * 1000 | date : 'short'}}</p>
            <h6>{{post.data.title}}</h6>
          </nb-card-header>
          <nb-card-body (click)="openThread(post)" *ngIf="post.data.preview && post.data.preview.enabled"  class="post-body">
            <img class="thumbnail" [src]="post.data.preview.images[0].source.url" alt="thumbnail">
          </nb-card-body>
          <nb-card-footer class="post-footer">
            <div class="post-info">
              <nb-icon icon="heart"></nb-icon>
              {{post.data.score}}
            </div>
            <div class="post-info">
              <nb-icon icon="message-square"></nb-icon>
              {{post.data.num_comments}} comments
            </div>
            <div (click)="copyMessage(post.data.url)" class="post-info copy">
              <nb-icon icon="link-2"></nb-icon>
              Copy link
            </div>
          </nb-card-footer>
      </nb-card>

    </ng-container>
  </nb-layout-column>
</nb-layout>
